PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appName>
EMAIL_USER=your-email@iitr.ac.in
EMAIL_PASSWORD=your-email-password
SMTP_HOST=mail.iitr.ac.in
SMTP_PORT=587
SMTP_SECURE=false
COMMITTEE_GMAIL=committee-email@iitr.ac.in
FRONTEND_URL=https://your-frontend-domain.vercel.app/

AWS_REGION=ap-south-1
AWS_S3_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key

OMNIPORT_BASE_URL=https://channeli.in
OMNIPORT_CLIENT_ID=your-omniport-client-id
OMNIPORT_CLIENT_SECRET=your-omniport-client-secret
OMNIPORT_REDIRECT_URI=https://your-backend-domain.onrender.com/auth/omniport/callback

ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-admin-password

SESSION_SECRET=generate-a-random-64-char-hex-string
