.members{
    margin: 10px 0;
    padding: 100px 0;
    background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
}

.heading{
    text-align: center;
    font-size: var(--font-size-section-title);
    margin-top: 5rem;
    font-weight: bolder;
}